.listColumn {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 18rem;
  max-width: calc(var(--max-width) / 4);
  border-right: 1px solid var(--borders-color);
  background-color: var(--panels-color);
  padding: .5rem;
}

.listItem {
  background-color: inherit;

  height: 72px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  padding: .5rem;
  overflow: hidden;

  &:hover {
    background-color: var(--focus-color);
  }

  &.selected {
    background-color: var(--primary-color);

    .contactCaption {
      color: #fff;

      .dialogSubtitle {
        color: #fafafa;
      }
    }
  }

  .avatar {
    --size: 54px;
    color: #fff;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 50%;
    user-select: none;
  }

  .contactCaption {
    pointer-events: none;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    padding: 2px 10px;

    p {
      margin: 0;
      height: 27px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 27px;
    }

    .dialogTitle {
      font-weight: bolder;
    }

    .dialogSubtitle {
      color: #707579;
    }
  }
}


