.container {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  max-width: calc(var(--max-width) + 2px);
  overflow: hidden;
  position: relative;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: var(--borders-color);

  background-color: aqua;
}